# Part -1 Python Basics (Variables)

Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [7]:
name = input("My name is: ")
f_name = input("My father name is: ")
birth_date = input("My date of birth is: ")
print(name +"," + f_name +"," + birth_date)

My name is:  1\
My father name is:  1
My date of birth is:  2

1\,1,2

In [1]:
My_Data = ["Fahad", "Rehman", "20", "9-july-1995"]

In [2]:
My_Data

['Fahad', 'Rehman', '20', '9-july-1995']

Write your small bio using variables and print it using print function

In [3]:

name = "Fahad"
father_name = "Rehman"
dob = "15-08-1995"


print("My Name is:", name)
print("My Father Name is:", father_name)
print("My Date of Birth is:", dob)

My Name is: Fahad
My Father Name is: Rehman
My Date of Birth is: 15-08-1995

In [4]:


a = 10
b = 3

print("Arithmetic Operators:")
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)

Arithmetic Operators:
a + b = 13
a - b = 7
a * b = 30

In [5]:
print("\nComparison Operators:")
print("a == b:", a == b)  
print("a > b:", a > b)     
print("a < b:", a < b)

Comparison Operators:
a == b: False
a > b: True
a < b: False

In [6]:
print("\nLogical Operators:")
print("a > 5 and b < 5:", a > 5 and b < 5)
print("a > 5 or b > 5:", a > 5 or b > 5)

Logical Operators:
a > 5 and b < 5: True
a > 5 or b > 5: True

In [7]:

print("\nMembership Operators:")
numbers = [1, 2, 3, 10]
print("10 in numbers:", 10 in numbers)
print("5 not in numbers:", 5 not in numbers)

Membership Operators:
10 in numbers: True
5 not in numbers: True

4 -Completes the following steps of small task:
- Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
- Mention Variable of Total Marks and assign 300 to it
- Calculate Percentage

In [8]:
english = 85
islamiat = 90
maths = 95

total_marks = 300
obtained = english + islamiat + maths
percentage = (obtained / total_marks) * 100

print("Marks Obtained:", obtained)
print("Percentage:", percentage, "%")

Marks Obtained: 270
Percentage: 90.0 %